<%- include ("partials/header.ejs");-%>
    <body>

    <div class="weather-page">
        <div class="flex-container weather-card">
                    <!-- display - classes, id and order of divs in ejs file, then organising css -->

                    <div class="weather-card-dt-local">
                        
                        <h1 class="today-title">Today · <%=dateToday%></h1>
                        <!-- getDate -->
                            <% if (todayHour < 12 ) { %>
                                <h3 class="text"> <%=time%> AM </h3>
                            <% } else if (11 <= todayHour <= 13) { %>
                                <!-- // <= less than orr equal -->
                                <h3 class="text"> <%=time%> PM</h3>
                            <% } else { %>
                                <h3 class="text"> <%=time%> </h3>
                            <% } %>
                            
                            <!-- https://momentjs.com/
                                let city = locals.cityName[0].toUpperCase() + cityName.slice(1);%> -->
                                <h3 class="text"> <%=JSON.parse(tZone) %> </h3>
                        </div>

                <div class="weather-data">

                    <div class="weather-card-general-weather"> 
                       
                        <img class="weather-icon" src = " <%=currentIcon %> " alt="openweathermap weather icon"> 
                        <h1 class="temp text" name="tempsC"> <%=locals.currentTemp %> °C  </h1>
                        <!-- <h1 class="temp text hidden" name="tempsF"> <locals.currentTempF%> °F  </h1> -->
<!--                 
                        <button name="temperatureC" onclick="(changeMes())">°C </button>
                        <button >°F </button> -->

                        <p class="weather-text">
                            <%= description[0].toUpperCase() + description.slice(1); %> 
                        </p>

                       <% console.log(currentTemp +  " lat:" + lat + " lon: " + lon);%>
                        
                    </div>
                    <a href="/" class="change-location-link"> <button class="change-location-btn">
                        <i class="fa-solid fa-location-dot fa-xl" style="color: #0F1035;"></i> Change Location</button></a>

<!--                         
                        <div class="weather-card-description">
                                    <ul> 
                                       
                                      
                                        <li class="weather-text">
                                            Sunrise: < sunrise%>
                                        </li>
                                        <li class="weather-text">
                                            Sunset: <unset %> 
                                        </li>
                                    </ul>
                        </div> -->
                </div>

                    
                </div>

        
        <!-- <h1 class="title"><= JSON.parse(tZone)%></h1> -->
        <!-- <div> Weather Dashboard </div> -->

            <div class="flex-container more-weather-details">
                <!-- <div class="next-days-weather-des"> -->

                <div class="mini-weather-card">
                    <h2><%= oneDay%>  </h2> 
                    <img src = " <%=tomorrowsIcon %> " alt="openweathermap weather icon">  
                    <p class="mini-weather-card-des"> <strong><%= tempTomorrow %> °C |</strong> <%= tomorrowsDescription[0].toUpperCase() + tomorrowsDescription.slice(1); %> </p>
                    


                </div>
                
                <!-- today++, then today++ + 1 -->
                <div class="mini-weather-card">
                    <h2><%= twoDays%></h2>
                    <img src = " <%=secondIcon %> " alt="openweathermap weather icon">  
                    <p class="mini-weather-card-des"><strong> <%= secondTemp %> °C |</strong> <%= secondDescription[0].toUpperCase() + secondDescription.slice(1); %>  </p>
                  </div>
                
                  <!-- in javascript, .mini-weather-card (onclick) - hide it and show the daily 
                  weather description -->

                <div class="mini-weather-card">
                    <h2><%= threeDays%></h2>
                    <img src = " <%=thirdIcon %> " alt="openweathermap weather icon">                 
                    <p class="mini-weather-card-des"><strong><%= thirdTemp%> °C |</strong> <%= thirdDescription[0].toUpperCase() + thirdDescription.slice(1); %>  </p>

                </div>

                
            <!-- </div> -->
               <!-- <div class="flex-container todays-weather-details"> -->
                <!-- <div class="todays-weather-description"> -->
                    <div class="mini-weather-card description">
                        <h3> Humidity </h2> 
                        
                        <h1 class="des-text"> <%=humidity %> %</h1>

                    </div>

                    <div class="mini-weather-card description">
                        <h3> Wind Speed </h2> 
                        
                            <h1 class="des-text"><%= wind %> mph</h1>

                    </div>

                    <div class="mini-weather-card description">
                        <h3> Sunrise </h2> 
                            <% if (sunriseHour <= 12 ) { %>
                            <h1 class="des-text"><%= sunrise%> AM </h1>
                            <% } else if (12 <= sunriseHour <= 13) {%>
                            <h1 class="des-text"><%= sunrise%> PM </h1>
                            <% } else { %>
                            <h1 class="des-text"><%= sunrise%> </h1>
                            <% } %> 
                    </div>

                    <div class="mini-weather-card description">
                        <h3> Sunset </h2> 
                            <% if (sunsetHour <= 12 ) { %>
                            <h1 class="des-text"><%=sunset %> AM</h1>
                            <% } else if (12 <= sunsetHour <= 13) {%>
                            <h1 class="des-text"><%= sunset%> PM </h1>
                            <% } else { %>
                                <h1 class="des-text"><%= sunset%> </h1>
                                <% } %> 

                    </div>
                <!-- </div> -->
                <!-- </div> -->

               
           </div>

           
       
       
       
    </div>
          

       
       

    
            <!-- https://stackoverflow.com/questions/70721356/how-to-display-sunrise-and-sunset-time-in-the-local-time-of-the-city-that-is-bei
                -->
                    <!-- <} else {%>
                        <    let submit = req.body.submit;%>
                     <  sumbit.on("click", )%>
                <h1> <=weather%></h1>
             < }%> -->
          
       <!-- i want daily weather and sunrise for whichever location you're at -->
      
        <!-- <= weather %> -->
      

      
        <%- include ("partials/footer.ejs");-%>
       
    </body>
</html>