<%- include ("partials/header.ejs");-%>
    <body>

    <div id="weather-forecast"> 
        <!--Similar to portfolio, #sections were orientated vertically, should orient weather
        forecast page horizontally - also flex-wrap, wrap?-->
        <div id="weather-forecast-card">
                    <!-- CHANGE DISPLAY! - flexbox classes, id and order of divs in ejs file, then organising css -->

                    <div class="weather-card-dt-local">
                        
                        <h1 class="today-title">Today · <%=dateToday%></h1>
                        <!-- getDate -->
                            <% if (todayHour < 12 ) { %>
                                <h3 class="text"> <%=time%> AM </h3>
                            <% } else if (11 <= todayHour <= 13) { %>
                                <!-- // <= less than orr equal -->
                                <h3 class="text"> <%=time%> PM</h3>
                            <% } else { %>
                                <h3 class="text"> <%=time%> </h3>
                            <% } %>
                            
                                <h3 class="text"> <%=JSON.parse(tZone) %> </h3>
                        </div>

                    <div class="weather-card-data">

                        <div class="weather-card-general-weather"> 
                        
                            <img class="weather-icon" src = " <%=currentIcon %> " alt="openweathermap weather icon"> 
                            <h1 class="temp text" name="tempsC"> <%=locals.currentTemp %> °C  </h1>

                            <p class="weather-text">
                                <%= description[0].toUpperCase() + description.slice(1); %> 
                            </p>

                        <% console.log(currentTemp +  " lat:" + lat + " lon: " + lon);%>
                            
                        </div>
                        <a href="/" class="change-location-link"> <button class="change-location-btn">
                            <i class="fa-solid fa-location-dot fa-xl" style="color: #818FB4;"></i> Change Location</button></a>
                    </div>                  
        </div>

            <div id="detailed-weather-forecast">
                <!-- <div class="next-days-weather-des"> -->
                <div class = "mini-weather-cards">

                    <div class="mini-weather-card">
                        <h2><%= oneDay%>  </h2> 
                        <img src = " <%=tomorrowsIcon %> " alt="openweathermap weather icon">  
                        <p class="mini-weather-card-description"> <strong><%= tempTomorrow %> °C |</strong> <%= tomorrowsDescription[0].toUpperCase() + tomorrowsDescription.slice(1); %> </p>
                    </div>
                
                <div class="mini-weather-card">
                    <h2><%= twoDays%></h2>
                    <img src = " <%=secondIcon %> " alt="openweathermap weather icon">  
                    <p class="mini-weather-card-description"><strong> <%= secondTemp %> °C |</strong> <%= secondDescription[0].toUpperCase() + secondDescription.slice(1); %>  </p>
                  </div>

                <div class="mini-weather-card">
                    <h2><%= threeDays%></h2>
                    <img src = " <%=thirdIcon %> " alt="openweathermap weather icon">                 
                    <p class="mini-weather-card-description"><strong><%= thirdTemp%> °C |</strong> <%= thirdDescription[0].toUpperCase() + thirdDescription.slice(1); %>  </p>

                </div>

            </div>

                    <div class="todays-weather">
                    <div class="todays-mini-weather-card humidity">
                        <h3> Humidity </h2> 
                        
                        <h1 class="todays-mini-wc-text"> <%=humidity %> %
                            <progress id="humidity-bar" name="progress" max="100" value="<%=humidity %>"></progress>
                        </h1>
                        
                        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress -->


                    </div>

                    <div class="todays-mini-weather-card">
                        <h3> Wind Speed </h2> 
                        
                            <h1 class="todays-mini-wc-text"><%= wind %> mph</h1>

                    </div>

                    <div class="todays-mini-weather-card">
                        <h3> Sunrise </h2> 
                            <% if (sunriseHour <= 12 ) { %>
                            <h1 class="todays-mini-wc-text"><%= sunrise%> AM </h1>
                            <% } else if (12 <= sunriseHour <= 13) {%>
                            <h1 class="todays-mini-wc-text"><%= sunrise%> PM </h1>
                            <% } else { %>
                            <h1 class="todays-mini-wc-text"><%= sunrise%> </h1>
                            <% } %> 
                    </div>

                    <div class="todays-mini-weather-card">
                        <h3> Sunset </h2> 
                            <% if (sunsetHour <= 12 ) { %>
                            <h1 class="todays-mini-wc-text"><%=sunset %> AM</h1>
                            <% } else if (12 <= sunsetHour <= 13) {%>
                            <h1 class="todays-mini-wc-text"><%= sunset%> PM </h1>
                            <% } else { %>
                                <h1 class="todays-mini-wc-text"><%= sunset%> </h1>
                                <% } %> 

                    </div>
                </div>
               
           </div>
       

           
    </div>
    
       <!-- i want daily weather and sunrise for different locations -->
      

    <div id="footer">
        <%- include("partials/footer.ejs"); -%>
    </div>
       
    </body>
</html>